[submodule "simulator/MMC80"]
	path = simulator/MMC80
	url = https://github.com/been-jamming/MMC80
[submodule "simulator/src/Z80"]
	path = simulator/src/Z80
	url = https://github.com/redcode/Z80

[submodule "schematics"]
	path = schematics
	url = https://github.com/rommac100/mmc80_schematic
